listen: 8000
provider:
  type: "rpc"
  uri: "https://mainnet.infura.io/v3/de9ceb7b7fea4c8db8afe991fdaed59d"

apiKey: "erick"

invoices:
  minConfirmations: 1

public:
  contracts:
    ZCRT: 
      address: "0xC7e43A1c8E118aA2965F5EAbe0e718D83DB7A63C" # Mainnet
      # address: "0xC4375B7De8af5a38a93548eb8453a498222C4fF2" ZCRT token on Kovan network
