listen: 3333
provider:
  type: "rpc"
  uri: "https://ropsten.infura.io/v3/d7abd15cee994b058394679cfe2eff7a"

apiKey: "zcrttestnet"

invoices:
  minConfirmations: 1

public:
  contracts:
    ZCRT: 
      address: "0x28858bb770de1e7689045117ff99c286ed24ea55"